:root {
    --mygray: #bdbdbd;
    --myyellow: #fce181;
    --mylightyellow: #fef9c7;
    --myteal: #000000;
    --mylightblue: #9fedd7;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Compacta';
}

header {
    display: flex;
    height: 76px;
    background-color: var(--myteal);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: solid 3px var(--myyellow);
}

#header-img {
    height: 60px;
    margin: 0px 5px;
    border-radius: 90px;
}

.page-title {
    margin-right: auto;
    padding: 5px 10px;
    display: inline-flex;
}

.page-title h2 {
    font-size: 25px;
    color: white;
    padding: 2px;
}

.page-title h3 {
    font-size: 15px;
    color: var(--mygray);
}

nav {
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.main-nav li {
    display: inline-block;
    margin: 30px 10px;
}

.main-nav li a {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
}

.main-nav li a:hover {
    color: var(--mygray);
    text-decoration: underline black 2px;
}

.banner {
    margin-top: 70px;
    width: 100%;
    height: 180px;
    background-color: var(--mygray);
    position: relative
}

.banner h1 {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 32px;
    color:black;
}

main {
    text-align: center;
    color: var(--myteal);
    padding: 40px 90px;
}

main h2 {
    color: black;
    font-size: 20px;
    padding: 20px 0px;
}

main article {
    padding: 20px;
}

#about-me {
    padding: 20px 120px;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.first-proj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-proj .card {
    position: relative;
    border: 5px solid var(--myteal);
    border-radius: 8px;
    margin: 10px 10px;
    max-height: 280px;
    max-width: 50%;
}

.other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other .card{
    position: relative;
    max-height: 150px;
    max-width: 18%;
    margin: 10px 10px;
    flex: 1;
}

.card img {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    min-width: 30%;
}

.card img:hover {
    opacity: 1.0;
    box-shadow: 0 0 8px rgba(0, 38, 70, 0.6)
}

.card h3 {
    position: absolute;
    bottom: -8px;
    left: 0px;
    background-color: var(--myyellow);
    padding: 12px 12px;
    border-top-right-radius: 8px;
    font-size: 16px;
}

#contact li {
    list-style-type: none;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

#contact .icon {
    display: inline-block;
    padding: 10px 4px 0px;
}

footer {
    text-align: center;
    font-size: 14px;
    color: var(--mylightblue);
    padding: 12px;
    background-color: var(--myteal);
    border-top: 3px solid var(--myyellow);
}



@media only screen and (max-width: 700px) {
    header {
        height: 120px;
        flex-direction: column;
    }

    .main-nav li {
        margin: 10px 30px;
    }

    #about-me {
        font-size: 18px;
        padding: 20px 50px;
    }

    .first-proj .card {
        max-height: 200px;
    }
}